* text=auto

/.editorconfig                export-ignore
/.gitattributes               export-ignore
/.github                      export-ignore
/.gitignore                   export-ignore
/.php-cs-fixer.php            export-ignore
/build                        export-ignore
/config.subsplit-publish.json export-ignore
/phpbench.json                export-ignore
/phpstan.neon                 export-ignore
/phpunit.xml                  export-ignore
/README.md                    export-ignore
