includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
	paths:
		- uri
		- components
		- interfaces
	ignoreErrors:
		- message: '#Cannot cast mixed to string.#'
		  path: interfaces/IPv4Calculators/BCMathCalculator.php
		- message: '#Cannot cast mixed to string.#'
		  path: interfaces/IPv4Calculators/NativeCalculator.php
		- message: '#function gmp_(.*)? expects (GMP|int)#'
		  path: interfaces/IPv4Calculators/GMPCalculator.php
	reportUnmatchedIgnoredErrors: true
	checkMissingIterableValueType: false
